.groud {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 9px;
    align-items: flex-start;
    justify-content: end;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #546063;
    margin-right: 20px;
    width: 250px;
    justify-content: left;
}

.buttonField {
    margin-top: 10px;
    border-color: #00D1FF; 
    background-color: #ffffff;
    color: #00D1FF;
    height: 38px;
    font-size: 14px;
    width: 200px;
    align-items:start;
    transition: background-color 2.0s;
}

.buttonField:hover {
    border-color: #00D1FF; 
    background-color: #d3f7ff;
    color: #00D1FF;
    transition: background-color 1.0s;
}