.main {
    margin: 0;
    display: flex;
    background-color: #546063;
    width: 100%;
    height: 70px;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
}